header {
    background: #efefef;
    padding: 10px 0 0;
    position: relative;
    z-index: 10;
    .bar {
        background: #276876;
        color: #fff;
        padding: 5px 0 5px 10px;
        margin-top: 10px;
        overflow: hidden;
    }
    i {
        margin-left: 10px;
    }
    .logo {
        display: inline-block;
    }
    #showMenu {
        background: grey;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        right: 10px;
        text-indent: -9999px;
    }
    .right {
        float: right;
        margin-right: 10px;
    }
    nav {
        float: left;
        a {
            border-left: solid 1px #fff;
            padding-left: 4px;
            &:first-child {
                border: none;
            }
        }
    }
    @include respond-max($tablet-port) {
        nav {
            display: none;
        }
	}
}
