/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 * @version    1.5.1
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

/*========================================================================
        Icons and sprites
==========================================================================*/

.icon {
    display: block;
}

.icon-cms-logo {
    @extend .icon;
    background: url(/gsd-resources/css/img/icons/normal/logo_small.png);
    width: 51px;
    height: 30px;
}

.fa-gear {
    position: absolute;
    top: 2px;
    left: 185px;
    cursor: pointer;
    color: $gsd-color;
}
