/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 * @version    1.0
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

/*========================================================================
        Icons and sprites
==========================================================================*/

.icon {
    display: block;
}

.icon-cms-logo {
    @extend .icon;
    @include retina-sprite(logo_small);
}

.icon-dashboard {
    @extend .icon;
    @include retina-sprite(Dashboard);
}

.icon-documents {
    @extend .icon;
    @include retina-sprite(Briefcase);
}

.icon-media {
    @extend .icon;
    @include retina-sprite(Camera);
}

.icon-pages {
    @extend .icon;
    @include retina-sprite(Copy);
}

.icon-layouts {
    @extend .icon;
    @include retina-sprite(Database);
}

.icon-settings {
    @extend .icon;
    @include retina-sprite(Gears);
}

.icon-gear {
    @extend .icon;
    @include retina-sprite(Gear);
    position: absolute;
    top: 2px;
    left: 185px;
    cursor: pointer;
}

.icon-users {
    @extend .icon;
    @include retina-sprite(Users);
}

.icon-email {
    @extend .icon;
    @include retina-sprite(Message);
}

.icon-lock {
    @extend .icon;
    @include retina-sprite(Lock);
}

.icon-client {
    @extend .icon;
    @include retina-sprite(Application);
}

.icon-power {
    @extend .icon;
    @include retina-sprite(Power);
}
