/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

body {
    font: 400 14px $font-arial;
    color: $text-color;
    background: #efefef;
}

section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

main {
    display: block;
    position: relative;
    padding: 20px;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;

    a {
        font-size: 14px;
        margin-left: 20px;
        border: solid 1px $gsd-color;
        color: $gsd-color;
        padding: 5px;
        vertical-align: middle;
        border-radius: 3px;
        display: inline-block;
        -webkit-transition: box-shadow .3s ease;

        &:hover {
            text-decoration: none;
            box-shadow: 0 0 5px 0 $gsd-color inset;
        }
    }
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}
