/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.gsd-sql {
    background: #fff;
    border: solid 1px #000;
    margin: 20px;
    padding: 0 10px;

    table {
        border: none;

        tr {
            margin: 10px 0;
            display: block;

            td {
                border: none;
                text-align: left;
                font-size: 12px;
            }
        }
    }
}
