/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    width: 94%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 3%;
    background: #fff;
}

.colA {
    width: 100%;
    margin-bottom: 30px;
    position: relative;

    &.fullWidth {
        max-width: none;
        width: 100%;
    }
}

.colB {
    float: left;
    width: 45%;
    margin-bottom: 30px;
    position: relative;
    &:nth-child(even) {
        margin-left: 2.5%;
    }
}

main {
    width: 96%;
    padding: 2%;
}

.main {
    background: #fff;
    min-height: 100%;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .error404 {
        text-align: center;

        p {
            margin: 50px 0;
        }
    }
}

.ago {
    font-size: 12px;
}

.section-header {
    background: none;
    overflow: hidden;
    padding: 0;
    margin-bottom: 20px;

    h1 {
        float: left;
        margin: 0;
    }
}
