/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

#overlay.is-visible {
    -webkit-transition: top 2s ease, opacity .3s ease;
    top: 0;
    opacity: 1;
    z-index: 20;
}
.is-hidden, .medium-editor-hidden {
    display: none;
}

.is-active {
    .field-action {
        display: block;
    }
}

.fields {
    tr:hover, .gsd-editing {
        .field-action {
            display: block;
        }
    }
}

