<main>
    <h1>{LANG_DOCUMENTS}
        <a href="/admin/documents/upload" class="btn">{LANG_UPLOAD}</a>
    </h1>
    [_ERRORS]
    [_WARNINGS]
    [_MESSAGES]
    <!-- IF DOCUMENTS_EXIST -->
    <table class="table pages hasPages" data-type="documents">
        <thead>
            <tr>
                <th>{LANG_DOCUMENT}</th>
                <th>{LANG_SIZE}</th>
                <th>{LANG_DESCRIPTION}</th>
                <th>{LANG_MODIFIED}</th>
                <th class="actions">{LANG_ACTIONS}</th>
                <th width="10"><i class="fa fa-check-square-o fa-1x selection"></i></th>
            </tr>
        </thead>
        <!-- LOOP DOCUMENTS -->
        <tr data-did="{DOCUMENTS_DID}">
            <td>
                <a href="{DOCUMENTS_ASSET}">{DOCUMENTS_NAME}</a>
            </td>
            <td>{DOCUMENTS_SIZE}</td>
            <td>{DOCUMENTS_DESCRIPTION}</td>
            <td>{DOCUMENTS_CREATED} <br>{LANG_BY} <a href="/admin/users/{DOCUMENTS_CREATOR_ID}">{DOCUMENTS_CREATOR_NAME}</a></td>
            <td class="actions">
                <a href="/admin/documents/{DOCUMENTS_DID}/edit" title="{LANG_EDIT}" class="fa fa-pencil-square-o"></a>
                <a href="/admin/documents/{DOCUMENTS_DID}/remove" title="{LANG_REMOVE}" class="fa fa-trash-o"></a>
            </td>
            <td class="checkbox"><input value="{DOCUMENTS_DID}" type="checkbox"></td>
        </tr>
        <!-- ENDLOOP DOCUMENTS -->
    </table>
    <span>{TOTAL_ITEMS} {LANG_DOCUMENTS}</span>
    {PAGINATOR}
    <!-- ENDIF DOCUMENTS_EXIST -->
    
    <!-- IF !DOCUMENTS_EXIST -->
    <div class="messages warning">{LANG_NO_DOCUMENTS}</div>
    <!-- ENDIF !DOCUMENTS_EXIST -->
</main>
