<!-- IF MESSAGES -->
<div class="messages">
    <i class="fa fa-check"></i>
    <i class="fa fa-close"></i>
    <div class="progress"></div>
    <!-- LOOP MESSAGES -->
        <p>{MESSAGES_MSG}</p>
    <!-- ENDLOOP MESSAGES -->
</div>
<!-- ENDIF MESSAGES -->
