<script type="text/template" id="imageBlock">
<td><image src="{ASSETPATH}images/((iid)).((extension))" height="100"></td>
<td>((name))</td>
<td><a href="#((iid))" data-image="{ASSETPATH}images/((iid)).((extension))" class="use">Usar</a></td>
</script>
<script type="text/template" id="pagesBlock">
<tr data-pid="((pid))" data-index="((index))" class="((isHidden))">
    <td>
        ((title))<br>
        <a href="/admin/pages/((pid))">((beautify))</a>((unpublished))((sync))
    </td>
    <td>((layout))</td>
    <td><em class="ago">((created))</em> <br>{LANG_BY} <a href="/admin/users/((creator_id))">((creator_name))</a></td>
    <td class="actions">
    <a href="/p/((pid))" target="_blank" class="fa fa-binoculars"></a>
    <a href="/admin/pages/((pid))/settings" title="{LANG_SETTINGS}" class="fa fa-cog"></a>
    <a href="/admin/pages/((pid))/edit" title="{LANG_EDIT}" class="fa fa-pencil-square-o"></a>
    </td>
    <td><i class="fa fa-arrows-v fa-1x order"></i></td>
    <td class="checkbox"><input value="((pid))" type="checkbox"></td>
</tr>
</script>
<script type="text/template" id="imagesBlock">
<tr class="((isHidden))">
    <td>
        ((asset))
    </td>
    <td>((size))</td>
    <td>((description))</td>
    <td>((created)) <br>{LANG_BY} <a href="/admin/users/((creator_id))">((creator_name))</a></td>
    <td class="actions">
    <a href="/admin/images/((iid))/edit" title="{LANG_EDIT}" class="fa fa-pencil-square-o"></a>
    <a href="/admin/images/((iid))/remove" title="{LANG_REMOVE}" class="fa fa-trash-o"></a>
    </td>
    <td class="checkbox"><input value="((iid))" type="checkbox"></td>
</tr>
</script>
<script type="text/template" id="documentsBlock">
<tr class="((isHidden))">
    <td>
        ((asset))
    </td>
    <td>((size))</td>
    <td>((description))</td>
    <td>((created)) <br>{LANG_BY} <a href="/admin/users/((creator_id))">((creator_name))</a></td>
    <td class="actions">
    <a href="/admin/documents/((did))/edit" title="{LANG_EDIT}" class="fa fa-pencil-square-o"></a>
    <a href="/admin/documents/((did))/remove" title="{LANG_REMOVE}" class="fa fa-trash-o"></a>
    </td>
    <td class="checkbox"><input value="((did))" type="checkbox"></td>
</tr>
</script>
<script type="text/template" id="usersBlock">
<tr class="((isHidden))">
    <td>
        <a href="/admin/users/((uid))">((name))</a>((disabled))
    </td>
    <td>((level))</td>
    <td>((last_login))</td>
    <td>((created))</td>
    <td class="actions">
        <!-- IF IS_ADMIN -->
        <a href="/admin/users/((uid))/edit" class="fa fa-pencil-square-o" title="{LANG_EDIT}"></a>
        <a href="/admin/users/((uid))/remove" class="fa fa-trash-o" title="{LANG_REMOVE}"></a>
        <!-- ENDIF IS_ADMIN -->
    </td>
    <td class="checkbox"><input value="((uid))" type="checkbox"></td>
</tr>
</script>
<script type="text/template" id="layoutsBlock">
<tr class="((isHidden))">
    <td>
        ((name))
    </td>
    <td><em class="ago">((created))</em> <br>{LANG_BY} <a href="/admin/users/((creator_id))">((creator_name))</a></td>
    <td class="actions">
        <a href="/admin/layouts/((lid))/remove" class="fa fa-trash-o" title="{LANG_REMOVE}"></a>
    </td>
    <td class="checkbox"><input value="((lid))" type="checkbox"></td>
</tr>
</script>
[_CLIENTTEMPLATES]
