/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 * @version    1.1
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

body {
    font: 400 14px $font-arial;
    color: $text-color;
}

section {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
} 

main {
    display: block;
    position: relative;
    padding: 20px;
    overflow: hidden;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;

    a {
        font-size: 14px;
        margin-left: 20px;
        background: #276876;
        color: #fff;
        padding: 5px;
        vertical-align: middle;
        border-radius: 3px;
        display: inline-block;
        margin-top: -1px;

        &:hover {
            text-decoration: none;
        }
    }
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}
