.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    width: 94%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 3%;
    background: #fff;
}

.msgError {
    border: solid 1px $bg-color;
    margin: 0 0 0 64px;
    padding: 2%;
    table {
        border: none;
        tr {
            margin: 10px 0;
            display: block;
            td {
                border: none;
                text-align: left;
                font-size: 12px;
            }
        }
    }
}

.colA {
    width: 100%;
    margin-bottom: 30px;
    clear: both;
    position: relative;
}

.main {
    margin-left: 64px;
    min-height: 512px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.ago {
    font-size: 12px;
}
