/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 * @version    1.0
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*===============================
        Required compass includes
=================================*/
@import "compass/utilities/general/clearfix";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/font-face";
@import "compass/reset";

// Internal Imports
$sprites: sprite-map("icons/normal/*.png");
$sprites2x: sprite-map("icons/retina/*.png");

.gsd {
    /*===============================
            Core includes
    =================================*/
    @import "core/settings";
    @import "core/retina-sprites";
    @import "core/icons";
    @import "core/header";
    @import "core/footer";

    /*===============================
            Base and Layout
    =================================*/
    @import "_base.scss";
    @import "_layout.scss";

    /*===============================
            Reusable, page-independant modules
    =================================*/
    @import "modules/**";

    /*===============================
            State and Theme
    =================================*/
    @import "_state.scss";
    @import "_theme.scss";
}

@import "../../gsd-client/development/sass/_core/_fonts";
.frontend {
    @import "../../gsd-client/development/sass/_client.scss";
}



.msgError {
    background: #fff;
    border: solid 1px #000;
    margin: 20px;
    padding: 0 10px;

    table {
        border: none;

        tr {
            margin: 10px 0;
            display: block;

            td {
                border: none;
                text-align: left;
                font-size: 12px;
            }
        }
    }
}
