/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*===============================
        Required compass includes
=================================*/
@import "compass/utilities/general/clearfix";
@import "compass/css3/images";
@import "compass/css3/font-face";
@import "compass/reset";

.gsd {
    /*===============================
            Core includes
    =================================*/
    @import "core/settings";
    @import "core/retina-sprites";
    @import "core/narrow/icons";
    @import "core/narrow/header";
    @import "core/narrow/footer";

    /*===============================
            Base and Layout
    =================================*/
    @import "narrow/_base.scss";
    @import "narrow/_layout.scss";

    /*===============================
            Reusable, page-independant modules
    =================================*/
    @import "modules/narrow/**";

    /*===============================
            State and Theme
    =================================*/
    @import "narrow/_state.scss";
    @import "narrow/_theme.scss";

    @media (min-width: 768px) {
        @import "core/portrait/header";

        @import "portrait/_layout.scss";

        @import "modules/portrait/**";
    }
    @media (min-width: 1024px) {
        @import "modules/landscape/**";
    }
}

@import "../../gsd-frontend/development/sass/_core/_global";
.frontend {
    @import "../../gsd-frontend/development/sass/_client.scss";
}

@import "narrow/debug";
