<main>
    <header class="section-header clearfix">
        <h1>{LANG_USERS}
            <!-- IF IS_ADMIN --><a href="/admin/users/create" class="btn">{LANG_ADD} {LANG_NEW_MALE LOWER}</a><!-- ENDIF IS_ADMIN -->
        </h1>
        <div class="search">
            <form method="post">
                <input type="text" value="{SEARCH_VALUE}" name="search">
                <input type="submit" value="{LANG_SEARCH}" name="search_submit">
            </form>
        </div>
    </header>
    [_ERRORS]
    [_WARNINGS]
    [_MESSAGES]
    <table class="table pages hasPages" data-type="users">
        <thead>
            <tr>
                <th>{LANG_NAME}</th>
                <th>{LANG_PERMISSION}</th>
                <th>{LANG_LAST_LOGIN}</th>
                <th>{LANG_CREATED}</th>
                <th class="actions">{LANG_ACTIONS}</th>
                <th width="10"><i class="fa fa-check-square-o fa-1x selection"></i></th>
            </tr>
        </thead>
        <!-- LOOP USERS -->
        <tr data-uid="{USERS_UID}">
            <td>
                <a href="/admin/users/{USERS_UID}">{USERS_NAME}</a>{USERS_DISABLED}
            </td>
            <td>{USERS_LEVEL}</td>
            <td>{USERS_LAST_LOGIN}</td>
            <td>{USERS_CREATED}</td>
            <td class="actions">
                <a href="/admin/users/{USERS_UID}/edit" class="fa fa-pencil-square-o" title="{LANG_EDIT}"></a>
                <a href="/admin/users/{USERS_UID}/remove" class="fa fa-trash-o" title="{LANG_REMOVE}"></a>
            </td>
            <td class="checkbox"><input value="{USERS_UID}" type="checkbox"></td>
        </tr>
        <!-- ENDLOOP USERS -->
    </table>
    <span>{TOTAL_ITEMS} {LANG_USERS}</span>
    {PAGINATOR}
</main>
