<section class="list">
    <h1><i class="fa fa-briefcase fa-1x"></i> {LANG_DOCUMENTS}</h1>
    <ul>
        <!-- LOOP DOCUMENTS --><li><a href="/admin/documents/{DOCUMENTS_ID}/edit">{DOCUMENTS_NAME}</a> <em class="ago">({DOCUMENTS_CREATED})</em></li><!-- ENDLOOP DOCUMENTS -->
        <!-- IF !DOCUMENTS_EXIST --><li>{LANG_NO_DOCUMENTS}</li><!-- ENDIF !DOCUMENTS_EXIST -->
    </ul>
</section>
