<section class="list">
    <h1><i class="fa fa-files-o fa-1x"></i> {LANG_PAGES}</h1>
    <ul>
        <!-- LOOP PAGES --><li><a href="/admin/pages/{PAGES_ID}">{PAGES_NAME}</a> <em class="ago">({PAGES_CREATED})</em></li><!-- ENDLOOP PAGES -->
        <!-- IF !PAGES_EXIST --><li>{LANG_NO_PAGES}</li><!-- ENDIF !PAGES_EXIST -->
    </ul>
</section>
