<!-- IF IS_ADMIN -->
<section class="list">
    <h1><i class="fa fa-users fa-1x"></i> {LANG_USERS}</h1>
    <ul>
        <!-- LOOP USERS --><li><a href="/admin/users/{USERS_ID}">{USERS_NAME}</a> <em class="ago">({USERS_CREATED})</em></li><!-- ENDLOOP USERS -->
    </ul>
</section>
<!-- ENDIF IS_ADMIN -->
