<main>
    <header class="section-header clearfix">
        <h1>{LANG_IMAGES}
            <a href="/admin/images/upload" class="btn">{LANG_UPLOAD}</a>
        </h1>
        <div class="search">
            <form method="post">
                <input type="text" value="{SEARCH_VALUE}" name="search">
                <input type="submit" value="{LANG_SEARCH}" name="search_submit">
            </form>
        </div>
    </header>
    [_ERRORS]
    [_WARNINGS]
    [_MESSAGES]
    <!-- IF IMAGES_EXIST -->
    <table class="table pages hasPages" data-type="images">
        <thead>
            <tr>
                <th>{LANG_IMAGE}</th>
                <th>{LANG_DIMENSION}</th>
                <th>{LANG_DESCRIPTION}</th>
                <th>{LANG_MODIFIED}</th>
                <th class="actions">{LANG_ACTIONS}</th>
                <th width="10"><i class="fa fa-check-square-o fa-1x selection"></i></th>
            </tr>
        </thead>
        <!-- LOOP IMAGES --><tr data-iid="{IMAGES_IID}">
            <td>
                {IMAGES_ASSET}
            </td>
            <td>{IMAGES_SIZE}</td>
            <td>{IMAGES_DESCRIPTION}</td>
            <td>{IMAGES_CREATED} <br>{LANG_BY} <a href="/admin/users/{IMAGES_CREATOR_ID}">{IMAGES_CREATOR_NAME}</a></td>
            <td class="actions">
                <a href="/admin/images/{IMAGES_IID}/edit" class="fa fa-pencil-square-o" title="{LANG_EDIT}"></a>
                <a href="/admin/images/{IMAGES_IID}/remove" class="fa fa-trash-o" title="{LANG_REMOVE}"></a>
            </td>
            <td class="checkbox"><input value="{IMAGES_IID}" type="checkbox"></td>
        </tr><!-- ENDLOOP IMAGES -->
    </table>
    <span>{TOTAL_ITEMS} {LANG_IMAGES}</span>
    {PAGINATOR}
    <!-- ENDIF IMAGES_EXIST -->
    <!-- IF !IMAGES_EXIST --><div class="messages warning">{LANG_NO_IMAGES}</div><!-- ENDIF !IMAGES_EXIST -->
</main>
