/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

label {
    display: block;

    &.error {
        color: red;
        margin-top: 10px;
        text-align: left;
        width: auto;
    }
}

input {
    box-shadow: 0 0 0 1px $border-color inset;
    border-radius: 5px;
    height: 30px;
    padding: 0 2%;
    width: 96%;
    border: none;
    margin: 0;

    &:focus {
        outline-color: rgba(46,130,147,0.5);
        outline-offset: -4px;
        outline-style: dashed;
        outline-width: 1px;
    }

    &[type="checkbox"] {
        max-height: none;
        max-width: none;
        width: auto;
        box-shadow: none;
        border: solid $border-color 1px;
    }

    &.error {
        border-color: red;
    }

    &[type="file"] {
        height: 18px;
        padding: 5px 2%;
    }

    &.is-hidden {
        display: none;
    }

    &.box {
        background: #ffc;
        box-shadow: 0 0 0 1px #9B870C inset;
        color: #9B870C;
    }
}
.checkbox {
    input, label {
        display: inline-block;
        height: auto;
        margin-right: 10px;
    }
}
textarea {
    box-shadow: 0 0 0 1px $border-color inset;
    border: none;
    border-radius: 5px;
    display: block;
    min-height: 100px;
    padding: 1%;
    width: 98%;

    &:focus {
        outline-color: rgba(46,130,147,0.5);
        outline-offset: -4px;
        outline-style: dashed;
        outline-width: 1px;
    }
}

select {
    box-shadow: 0 0 0 1px $border-color inset;
    border: none;
    border-radius: 3px;
    height: 30px;
    background: #fff;
    width: 100%;
    margin: 0;

    &:focus {
        outline-color: rgba(46,130,147,0.5);
        outline-offset: -4px;
        outline-style: dashed;
        outline-width: 1px;
    }

    &.error {
        border-color: red;
    }
}

.btn-submit {
    cursor: pointer;
    float: right;
    margin-right: 35px;
    width: 80px;
}

.form-messages {
    clear: both;
    color: #ce3e3e;
    margin: 0 0 20px 175px;
}

.preview {
    border: solid 1px $border-color;
    box-shadow: 0 0 1px $border-color;
    padding: 3px;

    &.is-hidden {
        display: none;
    }
}

.settings {
    background: #ccc;
    display: none;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.gsd-language {
    .string {
        margin-top: 5px;
    }
}
.gsd-password {
    text-indent: 15px;
}
.gsd-pass-toggle {
    cursor: pointer;
    color: $gsd-color;
    position: absolute;
    left: 5px;
    top: 34px;
}

.gsd-complexity {
    position: absolute;
    right: 5px;
    top: 35px;
    width: 10px;
    height: 10px;
    border-radius: 10px;

    &.red {
        background: red;
    }

    &.orange {
        background: orange;
    }

    &.yellow {
        background: #F0E68C;
    }

    &.blue {
        background: blue;
    }

    &.green {
        background: green;
    }
}

.field-action {
    display: none;
}
