/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.login {

    margin: 50px auto 0;
    max-width: 450px;
    width: 95%;
    font-size: 14px;
    background: #fff;

    header {
        position: relative;
        padding-bottom: 10px;

        span {
            position: absolute;
            display: block;
            right: 4%;
            top: 20px;
        }
    }

    .colA {
        width: 100%;
    }

    form {
        padding: 20px 0;
        margin: auto;
        box-shadow: 0px 2px 2px 1px #ccc;
        overflow: hidden;
        text-align: center;
    }

    i {
        margin-left: 4%;
    }

    hr {
        border: none;
        border-top: solid 1px #ccc;
        margin-bottom: 20px;
    }

    .btn-submit {
        float: none;
        margin: 0 auto 20px;
        width: 80px;
        cursor: pointer;
        padding: 0 2%;
        border: none;
    }

    a {
        float: left;
        margin-left: 5%;
        text-align: left;

        &.right {
            text-align: right;
            float: right;
            margin-right: 5%;
        }
    }

    label {
        position: absolute;
        left: 6%;
        top: 4px;
        width: 25px;
        margin: 0;

        &.error {
            margin: 10px auto 0;
            width: 91%;
        }

        .icon {
            margin-left: 0;
        }

        &.error {
            position: relative;
            top: auto;
            left: auto;
            font-size: 100%;
            margin-top: 10px;
        }

        .fa {
            margin: 5px;
            color: #276876;
        }
    }

    input {
        width: 75%;
        margin: auto;
        display: block;
        padding: 0 8%;
    }

    .form-messages {
        margin: 10px auto 20px;
    }
}
