/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.nav {
    color: $gsd-color;
    z-index: 11;
    position: absolute;
    top: 0;
    right: 0;
    @include prefixs('transition', 'width .3s ease');

    &.active {
        width: 100%;
        height: 100%;
        > ul {
            background: #fff;
            display: block;
            position: absolute;
            top: 55px;
            width: 90%;
            min-height: 90%;
            padding: 5%;
            li {
                margin: 10px 0;
                li {
                    margin: 10px 40px;
                }
            }
        }
        .menu {
            background: $gsd-color;
            color: #fff;
        }
    }

    .menu {
        margin: 15px;
        padding: 5px;
        display: inline-block;
        border: solid 1px $gsd-color;
        border-radius: 3px;
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    .fa {
        margin-right: 10px;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        text-align: center;
    }

    .icon {
        -webkit-backface-visibility: hidden;
        @include prefixs('transform', 'scale3d(0.7, 0.7, 1) translatez(0)');
        @include prefixs('transition', 'all .3s ease');
        @include prefixs('image-rendering', 'crisp-edges');
    }

    a {
        color: $gsd-color;
        overflow: hidden;
        text-decoration: none;
        position: relative;
    }

    > ul {
        display: none;
        width: 0;
    }
}
