/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;

    header {
        width: 95%;
        max-width: 960px;
        margin: 50px auto 0;
        padding: 10px 0;
        overflow: hidden;
        background: #ccc;

        .close {
            width: 30px;
            height: 30px;
            float: right;
            margin-right: 10px;
            cursor: pointer;
            text-align: center;
            color: $gsd-color;

            &:hover {
                text-shadow: 0 0 3px #000;
            }
        }
    }

    section {
        height: 100%;
        position: relative;
    }

    .content {
        background: #fff;
        width: 91%;
        max-width: 960px;
        min-height: 200px;
        margin: auto;
        padding: 2.001%;
        overflow: auto;
        height: 70%;
    }

    table {
        width: 100%;

        thead {
            background: #ccc;
        }

        th, td {
            padding: 10px 0;
            text-align: center;
        }

        img {
            padding: 3px;
            border: solid 1px #ccc;
            box-shadow: 0 0 1px #ccc;
        }
    }

    a {
        color: #0076cf;
    }

    .search {
        position: relative;
        right: auto;
        top: auto;
        float: none;
        background: #fff;
        width: 91%;
        max-width: 960px;
        margin: auto;
        padding: 2.001%;
    }
}
