/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.paginator {
    vertical-align: middle;
    text-align: center;
    float: right;
    margin: 20px 0;
    font-size: 12px;

    a {
        border: solid 1px #ccc;
        display: inline-block;
        height: 20px;
        padding: 7px 5px 0;
    }
}
.total-items {
    display: inline-block;
    margin-top: 20px;
}
