/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.submodule {
    padding: 10px 2%;
    border-top: solid 1px #ccc;
    clear: both;
    position: relative;
    max-width: 500px;
    min-width: 200px;
    width: 96%;
}

.image_block {
    position: relative;
}
