/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.submodule {
    padding: 10px 2%;
    border-top: solid 1px #ccc;
    clear: both;
    position: relative;
    max-width: 500px;
    min-width: 200px;
    width: 96%;
}

.image_block {
    position: relative;
}

.html_module {
    outline-color: rgba(46,130,147,0.5);
    outline-offset: 0;
    outline-style: dashed;
    outline-width: 1px;
    padding: 10px;

    ul {
        list-style: inside disc;
    }

    b {
        font-weight: 700;
    }

    i {
        font-style: italic;
    }
}
