/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.table {
    width: 100%;
    margin-top: 30px;

    th {
        font-weight: 700;
    }

    td, th {
        padding: 10px;
    }

    tbody {
        tr:nth-child(odd) {
            background: #ededed;
        }

        tr:nth-child(even) {
            background: #dddddd;
        }

        tr:hover {
            background: #bbbbbb;
        }
    }

    .actions {
        text-align: center;
        a {
            font-size: 16px;
            margin: 0 5px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    a {
        color: $gsd-color;
    }

    img {
        padding: 3px;
        background: #fff;
        border: solid 1px $border-color;
        box-shadow: 0 0 1px $border-color;
    }

    &.fields {
        max-width: 55.5%;

        td {
            padding: 5px;
        }
    }

    .page-preview {
        float: right;
    }
}

.pages {

    .is-hidden {
        display: none;
    }
    input {
        visibility: hidden;

        &.is-visible {
            visibility: visible;
        }
    }

    &:hover {
        input {
            visibility: visible;
        }
    }
}
