/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.main {
    margin-left: 140px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

main {
    min-height: 500px;
}

.colA {
    width: 50%;
    max-width: 500px;
}
