<div class="image_block image">
    <label>{LABEL}</label>
    <input type="hidden" name="{NAME}" value="{VALUE}">
    <input type="text" readonly="readonly" value="{LANG_DOCUMENT_EMPTY}" class="{EMPTY} box">
    {IMAGE}
    <div class="btns">
        <a href="#" class="btn finddocument">{LANG_DOCUMENT_CHOOSE}</a>
        <a href="#" class="btn red cleardocument">{LANG_DOCUMENT_CLEAN}</a>
    </div>
</div>
