<div class="image_block image">
    <label>{LABEL}</label>
    <input type="hidden" name="{NAME}" value="{VALUE}">
    <input type="text" readonly="readonly" value="{LANG_IMAGE_EMPTY}" class="{EMPTY} box">
    {IMAGE}
    <div class="btns">
        <a href="#" class="btn findimage">{LANG_IMAGE_CHOOSE}</a>
        <a href="#" class="btn red clearimage">{LANG_IMAGE_CLEAN}</a>
    </div>
</div>
