<main>
    <header class="section-header clearfix">
        <h1>{LANG_PAGES}
            <!-- IF IS_ADMIN OR IS_EDITOR --><a href="/admin/pages/create" class="btn">{LANG_ADD} {LANG_NEW_FEMALE LOWER}</a><!-- ENDIF IS_ADMIN OR IS_EDITOR -->
        </h1>
        <div class="search">
            <form method="get">
                <select name="filter">
                    <option value="">Filter</option>
                    <option value="published" {FILTER_PUBLISHED}>Published</option>
                    <option value="unpublished" {FILTER_UNPUBLISHED}>Unpublished</option>
                    <option value="secure" {FILTER_SECURE}>Secure</option>
                    <option value="nonsecure" {FILTER_NONSECURE}>Non-Secure</option>
                    <option value="visiblemenu" {FILTER_VISIBLEMENU}>Visible in menu</option>
                    <option value="invisiblemenu" {FILTER_INVISIBLEMENU}>Not visible in menu</option>
                </select>
                <input type="text" value="{SEARCH_VALUE}" name="search">
                <input type="submit" value="{LANG_FILTER}" name="search_submit">
            </form>
        </div>
    </header>
    [_ERRORS]
    [_WARNINGS]
    [_MESSAGES]
    <!-- IF PAGES_EXIST -->
    <table class="table pages hasPages" data-type="pages">
        <thead>
            <tr>
                <th>{LANG_PATH}</th>
                <th>Layout</th>
                <th>{LANG_CREATED}</th>
                <th class="actions">{LANG_ACTIONS}</th>
                <th><i class="fa fa-refresh fa-1x refresh"></i></th>
                <th width="10"><i class="fa fa-check-square-o fa-1x selection"></i></th>
            </tr>
        </thead>
        <!-- LOOP PAGES --><tr data-pid="{PAGES_PID}" data-index="{PAGES_INDEX}"{PAGES_ISHIDDEN}>
            <td>
                {PAGES_TITLE}<br><a href="/admin/pages/{PAGES_PID}">{PAGES_BEAUTIFY}</a>{PAGES_UNPUBLISHED}{PAGES_SYNC}
            </td>
            <td>{PAGES_LAYOUT}
            </td>
            <td><em class="ago">({PAGES_CREATED})</em> <br>{LANG_BY} <a href="/admin/users/{PAGES_CREATOR_ID}">{PAGES_CREATOR_NAME}</a></td>
            <td class="actions">
                <a href="/p/{PAGES_PID}" target="_blank" class="fa fa-binoculars"></a>
                <a href="/admin/pages/{PAGES_PID}/settings" title="{LANG_SETTINGS}" class="fa fa-cog"></a>
                <a href="/admin/pages/{PAGES_PID}/edit" title="{LANG_EDIT}" class="fa fa-pencil-square-o"></a>
            </td>
            <td><i class="fa fa-arrows-v fa-1x order"></i></td>
            <td class="checkbox"><input value="{PAGES_PID}" type="checkbox"></td>
        </tr><!-- ENDLOOP PAGES -->
    </table>
    <span class="total-items">{TOTAL_ITEMS} {LANG_PAGES}</span>
    {PAGINATOR}<!-- ENDIF PAGES_EXIST -->
    
    <!-- IF !PAGES_EXIST --><div class="messages warning">{LANG_NO_PAGES}</div><!-- ENDIF !PAGES_EXIST -->
</main>
