<!-- IF IS_PARENT -->
<p>Exitem páginas associadas a esta. Escolha outra página ascendente.</p><br>
<!-- LOOP CHILDS -->
<div class="colA"><label>{CHILDS_NAME}</label>
    {CHILDS_LIST}
</div>
<!-- ENDLOOP CHILDS -->
<!-- ENDIF IS_PARENT -->
