/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

header {
    background: #efefef;
    padding: 10px 0 0;
    position: relative;
    z-index: 10;
    //box-shadow: 0 0 10px 0px rgba(0, 0, 0, .5);

    .bar {
        background: $gsd-color;
        color: #fff;
        padding: 5px 0 5px 10px;
        margin-top: 10px;
        overflow: hidden;
        display: none;
    }

    i {
        margin-left: 10px;
    }

    .logo {
        display: inline-block;
        margin-bottom: 11px;
    }

    ul {
        overflow: hidden;
        color: $gsd-color;
        display: block;
        text-align: start;
        position: relative;
        float: right;
        margin-right: 11px;
        li {
            display: inline-block;
            vertical-align: middle;
        }
    }

    #showMenu {
        background: grey;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 5px;
        right: 10px;
        text-indent: -9999px;
    }

    .right {
        float: right;
        margin-right: 10px;
    }
}
