/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.nav {
    top: 55px;
    left: 0;
    right: auto;
    width: 140px;
    box-shadow: inset 0px 5px 10px -5px rgba(0,0,0,0.5);

    .menu {
        display: none;
    }

    > ul {

        display: block;
        width: auto;

        > li {
            padding: 15px;
        }
    }

    li.active {
        position: relative;

        &:before {
            right: 0;
            border: solid 8px transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border-right-color: #fff;
            top: 31%;
        }
    }

    li:hover {
        position: relative;

        ul {
            display: block;
        }

        .icon {
            @include prefixs('transform', 'scale(1) translatez(0)');
        }
    }

    ul ul {
        display: none;
        position: absolute;
        left: 100%;
        top: 0;
        background: $gsd-color;
        padding: 10px;
        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, .3);
        border-radius: 0 5px 5px 0;
        text-align: left;
        white-space: nowrap;

        a {
            text-indent: 0;
            text-decoration: none;
            font-size: 100%;
            text-align: start;
            color: #fff;

            &:after {
                display: none;
            }
        }

        li {
            padding: 5px;
        }

        &:after {
            right: 0;
            border: solid 8px transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border-right-color: $gsd-color;
            top: 18px;
            left: -16px;
        }
    }
}
