/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 *
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.7.2
 */

.search {
    float: right;
    width: 390px;
    height: 32px;
    
    select {
        width: auto;
    }

    input {
        width: 200px;
        padding: 0 5px;
    }
}
