<main>
    <h1>{LANG_NEW_LAYOUT}</h1>
    <!-- IF ERRORS -->
    <div class="errors">{ERRORS}</div>
    <!-- ENDIF ERRORS -->
    <form method="post" enctype="multipart/form-data">
        <div class="colA"><label>Nome</label> <input name="name" required></div>
        <div class="colA"><label>Template</label>
            <select name="layout" required>
                <option value="" disabled="disabled">Escolha</option>
                <!-- LOOP LAYOUT -->
                    <option value="{LAYOUT_KEY}">{LAYOUT_VALUE}</option>
                <!-- ENDLOOP LAYOUT -->
            </select>
        </div>
        <div class="colA"><label>Tipo</label>
            <select name="ltid" required>
                <option value="" disabled="disabled">Escolha</option>
                <!-- LOOP LAYOUTTYPE -->
                    <option value="{LAYOUTTYPE_KEY}">{LAYOUTTYPE_VALUE}</option>
                <!-- ENDLOOP LAYOUTTYPE -->
            </select>
        </div>
        <div class="btns">
            <input type="submit" class="btn blue" value="Salvar" name="save">
        </div>
    </form>
</main>
