<main>
    <h1>{LANG_LAYOUTS}
        <!-- IF IS_ADMIN --><a href="/admin/layouts/create" class="btn">{LANG_ADD} {LANG_NEW_MALE LOWER}</a><!-- ENDIF IS_ADMIN -->
    </h1>
    <!-- IF ERRORS -->
    <div class="errors">{ERRORS}</div>
    <!-- ENDIF ERRORS -->
    <!-- IF MESSAGES -->
    <div class="errors messages">{MESSAGES}</div>
    <!-- ENDIF MESSAGES -->
    <!-- IF LAYOUTS_EXIST -->
    {PAGINATOR}
    <table class="table hasPages" data-type="layouts">
        <thead>
            <tr>
                <th>{LANG_NAME}</th>
                <th>{LANG_CREATED}</th>
                <th>{LANG_ACTIONS}</th>
            </tr>
        </thead>
        <!-- LOOP LAYOUTS -->
        <tr>
            <td>
                {LAYOUTS_NAME}
            </td>
            <td><em class="ago">({LAYOUTS_CREATED})</em> <br>{LANG_BY} <a href="/admin/users/{LAYOUTS_CREATOR_ID}">{LAYOUTS_CREATOR_NAME}</a></td>
            <td class="actions">
                <a href="/admin/layouts/{LAYOUTS_LID}/remove">{LANG_REMOVE}</a>
            </td>
        </tr>
        <!-- ENDLOOP LAYOUTS -->
    </table>
    {PAGINATOR}
    <!-- ENDIF LAYOUTS_EXIST -->

    <!-- IF !LAYOUTS_EXIST -->
    <span class="warning">{LANG_NO_LAYOUTS}</span>
    <!-- ENDIF !LAYOUTS_EXIST -->
</main>
