<main>
    <h1>{LANG_LAYOUTS}</h1>
    <!-- IF ERRORS -->
    <div class="errors">{ERRORS}</div>
    <!-- ENDIF ERRORS -->
    <!-- IF MESSAGES -->
    <div class="errors messages">{MESSAGES}</div>
    <!-- ENDIF MESSAGES -->
    <!-- IF IS_ADMIN -->
    <div class="btns right">
        <a href="/admin/layouts/create" class="btn">Novo layout</a>
    </div>
    <!-- ENDIF IS_ADMIN -->
    <!-- IF LAYOUTS_EXIST -->
    [_PAGINATOR]
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>{LANG_CREATED}</th>
                <th>{LANG_ACTIONS}</th>
            </tr>
        </thead>
        <!-- LOOP LAYOUTS -->
        <tr>
            <td>
                {LAYOUTS_NAME}<br>
                <a href="/admin/layouts/{LAYOUTS_LID}">{LAYOUTS_URL}</a>
            </td>
            <td><em class="ago">({LAYOUTS_CREATED})</em> <br>por <a href="/admin/users/{LAYOUTS_CREATOR_ID}">{LAYOUTS_CREATOR_NAME}</a></td>
            <td class="actions"><a href="/admin/layouts/{LAYOUTS_LID}/settings">{LANG_SETTINGS}</a><a href="/admin/layouts/{LAYOUTS_LID}/edit">{LANG_EDIT}</a></td>
        </tr>
        <!-- ENDLOOP LAYOUTS -->
    </table>
    [_PAGINATOR]
    <!-- ENDIF LAYOUTS_EXIST -->

    <!-- IF !LAYOUTS_EXIST -->
    <span class="warning">{LANG_NO_LAYOUTS}</span>
    <!-- ENDIF !LAYOUTS_EXIST -->
</main>
