<main>
    <h1>Informação básica da página</h1>
    <!-- IF ERRORS -->
    <div class="errors">{ERRORS}</div>
    <!-- ENDIF ERRORS -->
    <form method="post">
    <div class="colA">Url <input name="url" value="{CURRENT_PAGE_URL}"></div>
    <!--<div class="colA">Web directory
        <select>
            <option>Merchandising</option>
        </select>
    </div>-->

        <div class="btns blue">
            <input type="submit" class="btn" value="Salvar" name="save">
        </div>
    </form>
</main>
