.container {
    width: 94%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 3%;
    background: #fff;
}
.container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.msgError {
    border: solid 1px $bg-color;
    width: 94%;
    max-width: 1260px;
    padding: 2%;
    margin: 0 auto;
    table {
        border: none;
        tr {
            margin: 10px 0;
            display: block;
            td {
                border: none;
                text-align: left;
                font-size: 12px;
            }
        }
    }
}