<script type="text/javascript">
commonDomain = document.domain;
window.GSD = {{}};
{SCRIPT}
<!-- IF GA AND !GTM -->
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', GSD.ga]);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
<!-- ENDIF GA AND !GTM -->
<!-- IF FB -->
    window.fbAsyncInit = function() {
        FB.init({
            appId: GSD.fb,
            xfbml: true,
            version: 'v2.5'
        });
    };
      (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/" + GSD.locale + "/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
<!-- ENDIF FB -->
GSD.messages = {
    required: '{LANG_REQUIRED}',
    email: '{LANG_INVALID_EMAIL}'
};
</script>
<!-- IF CMS -->
<!--script src="//cdn.tinymce.com/4/tinymce.min.js"></script-->
<!-- ENDIF CMS -->
<!-- build:js(../) /gsd-resources/js/built.js -->
<script src="/gsd-development/bower_components/jquery/dist/jquery.js"></script>
<script src="/gsd-development/js/libs/jquery.ui.js"></script>
<script src="/gsd-development/js/libs/jquery.validate.js"></script>
<script src="/gsd-development/js/libs/underscore.js"></script>
<script src="/gsd-development/js/libs/backbone.js"></script>
<script src="/gsd-development/bower_components/medium-editor/dist/js/medium-editor.js"></script>
<script src="/gsd-development/bower_components/handlebars/handlebars.runtime.js"></script>
<script src="/gsd-development/bower_components/jquery-sortable/source/js/jquery-sortable.js"></script>
<script src="/gsd-development/js/app.js"></script>
<script src="/gsd-development/js/core/generic/api.js"></script>
<script src="/gsd-development/js/core/global.js"></script>
<script src="/gsd-development/js/core/pages.js"></script>
<script src="/gsd-development/js/core/media.js"></script>
<script src="/gsd-development/js/core/login.js"></script>
<script src="/gsd-development/js/core/paginator.js"></script>
<!-- endbuild -->
<!-- IF GTM -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id={GTM}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer',GSD.gtm);</script>
<!-- ENDIF GTM -->
