<main>
    <h1>{SECTION_ACTION} {SECTION_TYPE}</h1>
    [_ERRORS]
    [_WARNINGS]
    [_MESSAGES]
    <form method="post" enctype="multipart/form-data" action="{CURRENT_PAGE}">
        <!-- IF EXTRAFIELDS -->
        <!-- LOOP FIELD --><div class="colA {FIELD_EXTRACLASS}">{FIELD_FIELD}</div><!-- ENDLOOP FIELD -->
        <!-- ENDIF EXTRAFIELDS -->
        <div class="btns">
            <input type="submit" class="btn blue" value="{LANG_SAVE}" name="save"/>
        </div>
    </form>
</main>
