[_TOP]
    <body class="{EXTRACLASS}">
        [_HEADER]
        <div class="main">
            [MAIN]
            <!-- IF DEBUG -->
            [_DEBUG]
            <!-- ENDIF DEBUG -->
        </div>
        [_FOOTER]
        <div id="overlay">
            <section>
                <header><i class="fa fa-close fa-2x close"></i></header>
                <div class="search">
                    <form method="post">
                        <input type="text" value="{SEARCH_VALUE}" name="search">
                        <input type="submit" value="Procurar" name="search_submit">
                    </form>
                </div>
                <div class="content"></div>
            </section>
        </div>
        [_TEMPLATES]
        [_SCRIPTS]
        {CLIENT_SCRIPT}
    </body>
</html>
