<main>
    <h1>{LANG_LANGUAGE}</h1>
    [_ERRORS]
    [_MESSAGES]
    <form method="post">
        <!-- LOOP FIELD -->
        <div class="colB gsd-language">
            {FIELD_FIELD_ID}
            {FIELD_FIELD_STR}
        </div>
        <!-- ENDLOOP FIELD -->
        <div class="btns">
            <input type="submit" class="btn blue" value="{LANG_SAVE}" name="save">
        </div>
    </form>
</main>
