<main>
    <h1>{LANG_SETTINGS}</h1>
    [_ERRORS]
    [_WARNINGS]
    [_MESSAGES]
    <form method="post">
        <!-- LOOP FIELD --><div class="colA{FIELD_EXTRACLASS}">{FIELD_FIELD}</div><!-- ENDLOOP FIELD -->
        <div class="btns">
            <input type="submit" class="btn blue" value="{LANG_SAVE}" name="save">
        </div>
    </form>
</main>
