<!-- IF NOUSER --><form method="POST" action="/admin?install=user">
    <label>Name:</label>
    <input name="name">
    <label>User admin:</label>
    <input name="email">
    <label>Password:</label>
    <input name="password" type="password">
    <label>Re password:</label>
    <input name="repassword" type="password">
    <div class="btns">
        <input type="submit" class="btn blue" name="save" value="Save">
    </div>
</form><!-- ENDIF NOUSER -->
{STEP2_MESSAGES}
