.admin {
    header {
        width: 100%;
    }
}
.login-admin {
    padding: 20px 0;
    margin: auto;
    box-shadow: 0px 2px 2px 1px #ccc;
    overflow: hidden;
}

.form-messages {
    clear: both;
    margin: 0 0 20px 175px;
    color: #ce3e3e;
}

.login {
    margin: 50px auto 0;
    width: 450px;
    font-size: 14px;
    header {
        position: relative;
        span {
            position: absolute;
            display: block;
            right: 40px;
            top: 20px;
        }
    }
    i {
        margin-left: 15px;
    }
    hr {
        border: none;
        border-top: solid 1px #ccc;
        margin-bottom: 20px;
    }
    .btn-submit {
        float: right;
        margin-right: 35px;
        width: 80px;
        cursor: pointer;
    }
    a {
        width: 50%;
        float: left;
        margin-left: 35px;
    }
}

main {
    max-width: 820px;
    width: 79%;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    position: relative;
}

.ago {
    font-size: 12px;
}
