.menu {
    li {
        padding: 5px 0 0;
        text-indent: 5px;
        a {
            padding: 0 0 5px;
            display: block;
        }
    }
    .submenu {
        display: none;
        margin-bottom: 0;
    }
}
