.menu {
    width: 18%;
    float: left;
    margin: 10px 0 0 1%;
    min-width: 200px;
    ul {
        margin-bottom: 30px;
    }
    li {
        background: #ccc;
        padding: 5px;
        border-bottom: solid 1px #fff;
    }
    .submenu {
        display: none;
    }
}