.btns {
    clear: both;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    &.right {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        margin-top: 0;
    }
    .btn {
        border: solid 1px #ccc;
        float: left;
        text-align: center;
        font-size: 12px;
        padding: 5px;
        margin-left: -1px;
        color: #000;
        background: #a1a1a1;
        cursor: pointer;
        border: none;
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 0;
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &:hover {
            background: #838383;
            text-decoration: none;
            text-shadow: none;
        }
    }
    &.red {
        .btn {
            color: #8c0000;
            background: #ff5e5e;
            &:hover {
                background: #ff0808;
            }
        }
    }
    &.blue {
        .btn {
            color: #fff;
            background: #3076ca;
            &:hover {
                background: #245797;
            }
        }
    }
}
