/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 * @version    1.5
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.2
 */

.pages {
    .order {
        color: $gsd-color;
        cursor: ns-resize;
    }
    .drag {
        position: absolute;
        border: dashed 2px #ccc;
        z-index: 1;
    }

    .cloned {
        visibility: hidden;
        cursor: -webkit-grabbing;
    }

    .refresh {
        cursor: pointer;
    }
}
