label {
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
    &.error {
        color: red;
    }
}
input {
    border: solid 1px #ccc;
    height: 30px;
    border-radius: 3px;
    width: 200px;
    padding: 0 20px;
    &.error {
        border-color: red;
    }
    &[type="file"] {
        padding: 5px 20px;
        height: 18px;
    }
}
.btn-submit {
    float: right;
    margin-right: 35px;
    width: 80px;
    cursor: pointer;
}
