.paginator {
    vertical-align: middle;
    text-align: center;
    float: right;
    margin: 20px 0;
    font-size: 12px;
    a {
        border: solid 1px #ccc;
        display: inline-block;
        height: 20px;
        padding: 7px 5px 0;
    }
}