/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 * @version    1.2
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.search {
    position: absolute;
    right: 20px;
    top: 20px;

    input {
        display: inline-block;
        width: 200px;
    }

    [type="submit"] {
        background: #276876;
        color: #fff;
        min-width: inherit;
        padding: 5px;
        width: 80px;
    }
}
