/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 * @version    1.1
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.0
 */

.submodule {
    margin: 30px 0;
    padding: 20px;
    border-top: solid 1px #ccc;
    background: #f6f6f6;
    clear: both;
    position: relative;
}

.image_block {
    position: relative;
}
