.table {
    width: 100%;
    margin-top: 30px;

    th {
        font-weight: 700;
    }

    td, th {
        padding: 10px;
    }

    tbody {
        tr:nth-child(odd) {
            background: #ededed;
        }

        tr:nth-child(even) {
            background: #dddddd;
        }

        tr:hover {
            background: #bbbbbb;
        }
    }

    .actions {
        a {
            display: block;
        }
    }

    a {
        color: #276876;
    }

    img {
        padding: 3px;
        background: #fff;
        border: solid 1px $border-color;
        box-shadow: 0 0 1px $border-color;
    }
}
