.table {
    width: 100%;
    border: solid 1px $border-color;
    margin-top: 30px;
    thead {
        border-bottom: solid 1px $border-color;
    }
    th {
        font-weight: 700;
    }
    td, th {
        padding: 10px;
    }
    tr {
        border-bottom: dashed 1px $border-color;
    }
    .actions {
        a {
            display: block;
        }
    }
    a {
        color: #276876;
    }
    img {
        padding: 3px;
        border: solid 1px $border-color;
        box-shadow: 0 0 1px $border-color;
    }
}