/**
 * @author     Goncalo Silva Dias <mail@gsdias.pt>
 * @copyright  2014-2015 GSDias
 * @version    1.5
 * @link       https://bitbucket.org/gsdias/gsdias-cms/downloads
 * @since      File available since Release 1.2
 */

.multi-options {
    background: $gsd-color;
    height: 55px;
    max-width: 100%;
    position: fixed;
    text-align: center;
    top: -55px;
    width: 100%;
    z-index: 10;
    -webkit-transition: top .15s ease;

    &.is-visible {
        display: block;
        top: 0;
        -webkit-transition: top .3s ease;
    }

    button {
        background: #fff;
        color: $gsd-color;
        border-radius: 5px;
        margin-top: 15px;
        padding: 5px;
        border: none;

        &:hover {
            box-shadow: 0 0 6px 0px #fff;
        }
    }
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/gsd-resources/images/ajax-loader.gif) no-repeat 50% 50% rgba(0, 0, 0, 0.3);
    z-index: 20;
    background-size: 50px auto;
}
